@model NationalPark.Models.Park

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    List<SelectListItem> selectListItems = new List<SelectListItem>();

    selectListItems.Add(new SelectListItem { Text = "Battlefields", Value = "Battlefields", Selected = true});
    selectListItems.Add(new SelectListItem { Text = "Military", Value = "Military"});
    selectListItems.Add(new SelectListItem { Text = "Historic", Value = "Historic"});
    selectListItems.Add(new SelectListItem { Text = "Lakeshores", Value = "Lakeshores"});
    selectListItems.Add(new SelectListItem { Text = "Historic Sites", Value = "Historic Sites"});
}


<h1>Create</h1>

<h4>Park</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartedOn" class="control-label"></label>
                <input asp-for="StartedOn" class="form-control" />
                <span asp-validation-for="StartedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                @Html.DropDownListFor(Model => Model.Type, selectListItems, new {@class = "form-control form-select"})
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsOpen" /> @Html.DisplayNameFor(model => model.IsOpen)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
